{% extends 'adminBase.html.twig' %}

{% block title %}Admin - Firm View{% endblock title %}

{% block body %}

    {# ag: active/inactive btn up top #}
    <div class="container">
        <div class="row text-end mb-4">
            {% if firm.getActive() is true %}
                <div class="mb-3">
                    <a class="btn btn-danger text-white" data-bs-toggle="modal" data-modal-title="Deactivate Firm" data-bs-target="#adminToggleFirmStatusModal">Deactivate Firm</a>
                </div>
            {% else %}
                <div class="mb-3">
                    <a class="btn btn-success text-white" data-bs-toggle="modal" data-modal-title="Activate Firm" data-bs-target="#adminToggleFirmStatusModal">Activate Firm</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            {% if firm.getActive() is not true %}
                <div class="alert alert-danger text-center fw-bold" role="alert">
                    ⚠️ This firm is currently <strong>INACTIVE</strong>. Please activate firm to make changes.
                </div>
            {% endif %}
        </div>
    </div>


    <div class="d-flex align-items-start flex-wrap gap-4 flex-md-nowrap">
        <div class="card card-body mb-4 {% if not firm.getActive() %}border-danger bg-light{% endif %}" style="">

            <div class="row mb-4">
                <div class="d-flex align-items-center gap-2 mb-3">
                    <i class="fas fa-building fa-lg text-secondary me-2" style="font-size:2rem;"></i>
                    <h2 class="mb-0">{{ firm.getName() }}</h2>
                </div>
            </div>

            <form class="admin-view-firm-form {% if not firm.getActive() %}opacity-50 pointer-events-none{% endif %}" id="admin-view-firm-form">
                {# ag: disables all input fields if firm is inactive #}
                {% if not firm.getActive() %}
                    <fieldset disabled>
                {% endif %}
                <div class="container">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="firmName" class="form-label">Firm Name</label>
                            <input type="text" class="form-control" name="name" id="firmName" value="{{ firm.getName() }}" required>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="account" class="form-label">Firm Account URL<small>(one word, all lowercase)</small></label>
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Dedicated URL path. Ex: www.securefilelogin.com/abcaccountants/login.">
                                <small><i class="fas fa-question-circle"></i></small> 
                            </span>
                            <input type="text" class="form-control" name="account" id="account" pattern="^[a-z0-9]+$" value="{{ firm.getAccount ()}}" required>
                        </div>
                    </div>
                </div>

                <div class="container mb-3">
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="storagePlan" class="form-label">Storage Plan</label>
                            <select class="form-select" name="storagePlan" aria-label="Default select example">
                                {% for plan in storage_plans %}
                                <option value="{{ plan.id }}" {% if plan.id == firm.getStoragePlan().getId() %}selected{% endif %}>{{ plan.name|capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="container mb-3">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="addr1" class="form-label">Address 1</label>
                            <input type="text" class="form-control" name="addr1" id="addr1" value="{{ firm.getAddr1() }}" required>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="addr2" class="form-label">Address 2</label>
                            <input type="text" class="form-control" name="addr2" id="addr2" value="{{ firm.getAddr2() }}">
                        </div>
                    </div>
                </div>

                <div class="container mb-3">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" name="city" id="city" value="{{ firm.getCity() }}" required>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="state" class="form-label">State</label>
                            <select class="form-select" name="state" aria-label="Default select example" required>
                                <option value="">--Select--</option>
                                {% for state in states %}
                                <option value="{{ state.code }}" {% if firm.getState() == state.code %}selected{% endif %}>{{ state.name|capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="container mb-3">
                    <div class="row">
                        <div class="mb-3 col-6">
                        <label for="zip" class="form-label">Postal Code</label>
                        <input type="text" class="form-control" name="zip" id="zip" value="{{ firm.getZip() }}" required>
                        </div>

                        <div class="mb-3 col-6">
                        <label for="country" class="form-label">Country</label>
                        <input value="USA" type="text" class="form-control" name="country" id="country" readonly>
                        </div>
                    </div>
                </div>

                <div class="container mb-3">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="phone" class="form-control" name="phone" id="phone" value="{{ firm.getPhone() }}" required>
                        </div>

                        <div class="mb-3 col-6">
                            <div class="col-12 d-flex justify-content-between mb-2">
                                <div>
                                    <label for="logo" class="form-label">Company Logo - MAX SIZE 2M</label>
                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Please upload a high res png/jpeg/svg file with a clear background. MAX SIZE 2M">
                                        <small><i class="fas fa-question-circle"></i></small> 
                                    </span>
                                    </br>
                                    <span><small>{{ firm.getLogo() }}</small></span>
                                </div>
                                <!-- Preview Logo Window -->
                                {% if firm.getLogo() is not empty %}
                                    <div class="col-2 text-end">
                                        <img style="max-height:3rem;" id="logoPreview" src="{{ asset(firm_logo_path ~ '/' ~ firm.getLogo() ) }}" />
                                    </div>
                                {% endif %}
                            </div>
                            <input type="file" class="form-control" name="logo" id="logo">
                        </div>
                    </div>
                </div>
                <input type="hidden" id="admin-update-firm-active" name="active" value="1">

                {# ag: disables all input fields if firm is inactive #}
                {% if not firm.getActive() %}
                    </fieldset>
                {% endif %}
            </form>

            <div class="container d-flex justify-content-end">
                <div class="row col-2">
                    <button type="submit" class="btn btn-primary" id="admin-view-firm-update" {% if not firm.getActive() %}disabled{% endif %}>Update</button>
                    <input type="hidden" id="admin-update-firm-token" name="firm[_token]" value="{{ csrf_token('firm') }}">
                    <input type="hidden" id="admin-update-firm-id" name="firmId" value="{{ firm.getId() }}">
                </div>
            </div>
        </div>
    </div>


    <div class="container card py-4 {% if not firm.getActive() %}border-danger bg-light{% endif %}">

        <div class="row d-flex justify-space-between">
            <div class="col-6 d-flex align-items-center gap-2 mb-3">
                <i class="fas fa-user fa-lg text-secondary me-2" style="font-size:2rem;"></i>
                <h2 class="mb-0">Firm Users</h2>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end gap-2 mb-3">
                <a class="btn btn-primary text-white" href="{{ path('admin_new_firm_user_modal', { firmId: firm.getId() }) }}" data-bs-toggle="modal" data-modal-title="Edit Firm User Profile" data-bs-target="adminEditFirmUserModal" data-dynamic-load="true" {% if not firm.getActive() %}style="pointer-events:none;"{% endif %}>Add User</a>
            </div>
        </div>


        <div class="row card-body ">
            <table id="adminFirmViewTable" class="table table-striped table-bordered align-middle">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Title</th>
                        <th>Phone</th>
                        <th>User Type</th>
                        <th>Status</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in firm.getFirmUserProfiles() %}
                    <tr class="bg-accent">
                        <td>{{ user.getId() }}</td>
                        <td>{{ user.getFirstName() }} {{ user.getLastName() }}</td>
                        <td>{{ user.getUser().getEmail() }}</td>
                        <td>{{ user.getTitle() }}</td>
                        <td>{{ user.getPhone() }}</td>
                        <td>{{ user.getUserType() }}</td>
                        <td>{% if user.getUser().getIsActive() is true %}Active{% else %}Inactive{% endif %}</td>
                        <td class="text-center">
                            <a class="btn btn-warning text-white" href="{{ path('admin_firm_user_modal', { firmUserProfileId: user.getId() })}}" data-bs-toggle="modal" data-modal-title="Edit Firm User Profile" data-bs-target="adminEditFirmUserModal" data-dynamic-load="true" {% if not firm.getActive() %}style="pointer-events:none;"{% endif %}>Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# to throw notyf message after getting a controller call #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <script>
            document.addEventListener('DOMContentLoaded', function () {
                notyf.{{ label }}('{{ message|e('js') }}');
            });
            </script>
        {% endfor %}
    {% endfor %}

    {# ag: iterate modals needed, passed from the controller #}
    {% for modal in modals_to_include %}
        {% include 'layouts/modals/' ~ modal %}
    {% endfor %}

{% endblock %}
