<div class="modal fade" id="adminAddNewFirmUserModal" tabindex="-1" aria-labelledby="adminAddFirmUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
   <div class="modal-content">
      <div>
        <div class="modal-header bg-secondary text-white">
          <h5 class="modal-title" id="adminAddFirmUserLabel">Add New Firm User</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form class="" id="admin-add-firm-user" action="">
              <div class="container">
                <div class="row">
                  <div class="mb-3 col-4">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" value="" required>
                  </div>

                  <div class="mb-3 col-4">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" value="" required>
                  </div>
                  
                  <div class="mb-3 col-4">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" value="" required>
                  </div>

                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="mb-3 col-6">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="" required>
                  </div>

                  <div class="mb-3 col-6">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" id="phone" value="" required>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="mb-3 col-6">
                        <label for="userType" class="form-label">User Type</label>
                        {# ag: set hasPrimary variable to skip over the select fields if it exist #}
                        {% if firm.hasPrimaryUser() is true %}{% set hasPrimary = true %}{% endif %}
                        <select class="form-select" name="userType" aria-label="Default select example">
                            {% for type in firm_user_types %}
                                {% if hasPrimary is true and type != 'primary' %}
                                    <option value="{{ type }}">{{ type }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                  <div class="mb-3 col-6">
                    <label for="userType" class="form-label">Settings</label>
                    <div class="form-check form-switch">
                      <input class="form-check-input checkbox-toggle" name="bulkAction" type="checkbox" value="0" id="bulkAction">
                      <label class="form-check-label" for="bulkAction">
                        Enable Bulk Action
                      </label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input checkbox-toggle" name="seeAllFiles" type="checkbox" value="0" id="seeAllFiles">
                      <label class="form-check-label" for="seeAllFiles">
                        Enable See All Files
                      </label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input checkbox-toggle" name="contactUser" type="checkbox" value="0" id="contactUser">
                      <label class="form-check-label" for="contactUser">
                        Make this user a contact?
                      </label>
                      <span data-bs-toggle="tooltip" data-bs-placement="top" title="Contacts show up on the list of people your clients can send files to.">
                      <small><i class="fas fa-question-circle"></i></small> 
                      </span>
                      </br>
                    </div>
                    {# ag: hidden input for the role #}
                    <input type="hidden" id="roles" name="roles" value="ROLE_FIRM">
                  </div>
                </div>
              </div>
              </br>
              <small class="text-danger fst-italic">*<u>Welcome email with password link will be sent to user.</u></small>          
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="admin-add-firm-user-submit">Submit</button>
          <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
          <input type="hidden" id="admin-add-firm-user-profile-token"  name="user[_token]" value="{{ csrf_token('user') }}" >
          <input type="hidden" id="admin-add-user-profile-token" name="firm_user_profile[_token]"value="{{ csrf_token('firm_user_profile') }}">
          <input type="hidden" id="admin-add-user-firm-id" name="admin-add-user-firm-id" value="{{ firm.getId() }}">
        </div>
      </div>
    </div>
  </div>
</div>
