<div class="modal fade" id="adminAddFirmModal" tabindex="-1" aria-labelledby="adminAddFirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div method="post" action="">
        <div class="modal-header bg-secondary text-white">
          <h5 class="modal-title" id="adminAddFirmModalLabel">Add New Firm</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          {# ag: step 1 #}
          <form class="form-part" id="form-part-1">

            <div class="container">
              <div class="row">
                <div class="mb-3 col-6">
                  <label for="firmName" class="form-label">Firm Name</label>
                  <input type="text" class="form-control" name="name" id="firmName" required>
                </div>

                <div class="mb-3 col-6">
                  <label for="account" class="form-label">Firm Account URL<small>(one word, all lowercase)</small></label>
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Dedicated URL path. Ex: www.securefilelogin.com/abcaccountants/login.">
                    <small><i class="fas fa-question-circle"></i></small> 
                  </span>
                  <input type="text" class="form-control" name="account" id="account" pattern="^[a-z0-9]+$" required>
                </div>
              </div>
            </div>

            <div class="container mb-3">
              <div class="row">
                <div class="mb-3 col-12">
                  <label for="storagePlan" class="form-label">Storage Plan</label>
                  <select class="form-select" name="storagePlan" aria-label="Default select example">
                    {% for plan in storage_plans %}
                      <option value="{{ plan.id }}">{{ plan.name|capitalize }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <div class="container mb-3">
              <div class="row">
                <div class="mb-3 col-6">
                  <label for="addr1" class="form-label">Address 1</label>
                  <input type="text" class="form-control" name="addr1" id="addr1" required>
                </div>

                <div class="mb-3 col-6">
                  <label for="addr2" class="form-label">Address 2</label>
                  <input type="text" class="form-control" name="addr2" id="addr2">
                </div>
              </div>
            </div>

            <div class="container mb-3">
              <div class="row">
                <div class="mb-3 col-6">
                  <label for="city" class="form-label">City</label>
                  <input type="text" class="form-control" name="city" id="city" required>
                </div>

                <div class="mb-3 col-6">
                  <label for="state" class="form-label">State</label>
                  <select class="form-select" name="state" aria-label="Default select example" required>
                    <option value="" selected>--Select--</option>
                    {% for state in states %}
                      <option value="{{ state.code }}">{{ state.name|capitalize }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <div class="container mb-3">
              <div class="row">
                <div class="mb-3 col-6">
                  <label for="zip" class="form-label">Postal Code</label>
                  <input type="text" class="form-control" name="zip" id="zip" required>
                </div>

                <div class="mb-3 col-6">
                  <label for="country" class="form-label">Country</label>
                  <input value="USA" type="text" class="form-control" name="country" id="country" disabled>
                </div>
              </div>
            </div>

            <div class="container mb-3">
              <div class="row">
                <div class="mb-3 col-6">
                  <label for="phone" class="form-label">Phone</label>
                  <input type="phone" class="form-control" name="phone" id="phone" required>
                </div>

                <div class="mb-3 col-6">

                  <div class="d-flex flex-wrap align-items-center gap-2">
                    <div class="col-12 d-flex justify-content-between">
                      <div>
                        <label for="logo" class="form-label">Company Logo - MAX SIZE 2M</label>
                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Please upload a high res png/jpeg/svg file with a clear background. MAX SIZE 2M">
                          <small><i class="fas fa-question-circle"></i></small> 
                        </span>
                      </div>
                      <button type="button" id="clear-logo" class="btn btn-outline-secondary btn-sm">
                        Clear
                      </button>

                    </div>
                    <input type="file" id="company-logo-input" name="logo" class="form-control">
                  </div>

                  {# <label for="logo" class="form-label">Company Logo - MAX SIZE 2M</label>
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Please upload a high res png/jpeg/svg file with a clear background. MAX SIZE 2M">
                  <small><i class="fas fa-question-circle"></i></small> 
                  </span>
                  <input type="file" class="form-control" name="logo" id="logo"> #}
                </div>
              </div>
              {# firm hidden values here #}
              <input type="hidden" id="active" name="active" value="1">
            </div>

          </form>

          {# ag: step 2 add primary user #}
          <form class="form-part d-none" id="form-part-2">
              <div class="container">
                <div class="row">
                  <div class="mb-3 col-4">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" required>
                  </div>

                  <div class="mb-3 col-4">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" required>
                  </div>
                  
                  <div class="mb-3 col-4">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                  </div>

                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="mb-3 col-6">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="title">
                  </div>

                  <div class="mb-3 col-6">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" id="phone" required>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="mb-3 col-6">
                    <label for="userType" class="form-label">User Type</label>
                    <input class="form-select" name="userType" value="primary" readonly></input>
                  </div>


                  <div class="mb-3 col-6">
                    <label for="userType" class="form-label">Settings</label>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="bulkAction" type="checkbox" value="1" id="bulkAction" checked disabled>
                      <input type="hidden" name="bulkAction" value="1">
                      <label class="form-check-label" for="bulkAction">
                        Enable Bulk Action
                      </label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="seeAllFiles" type="checkbox" value="1" id="seeAllFiles" checked disabled>
                      <input type="hidden" name="seeAllFiles" value="1">
                      <label class="form-check-label" for="seeAllFiles">
                        Enable See All Files
                      </label>
                    </div>
                    <div class="form-check form-switch">
                      <input type="hidden" name="contactUser" value="0">
                      <input class="form-check-input" name="contactUser" type="checkbox" value="1" id="contactUser" checked>
                      <label class="form-check-label" for="contactUser">
                        Make this user a contact?
                      </label>
                      <span data-bs-toggle="tooltip" data-bs-placement="top" title="Contacts show up on the list of people clients can send files to.">
                      <small><i class="fas fa-question-circle"></i></small> 
                      </span>
                      </br>
                    </div>
                  </div>
                </div>
              </div>
            {# ag: hidden input for the role #}
            <input type="hidden" id="roles" name="roles" value="ROLE_FIRM">
          </form>
          </br>
          <small class="text-muted fst-italic">*<u>Welcome email with password link will be sent to user.</u></small>          
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary admin-add-primary-user" id="admin-add-primary-user">Add User<i class="fas fa-caret-right"></i></button>
          <button type="submit" class="btn btn-warning d-none" id="admin-new-firm-return-to-form1"><i class="fas fa-caret-left"></i>Back</button>
          <button type="submit" class="btn btn-primary d-none" id="admin-new-firm-submit">Submit</button>
          <input type="hidden" id="admin-new-firm-token" name="firm[_token]" value="{{ csrf_token('firm') }}">
          <input type="hidden" id="admin-new-user-token" name="user[_token]" value="{{ csrf_token('user') }}">
          <input type="hidden" id="admin-new-firm-user-profile-token" name="firm_user_profile[_token]" value="{{ csrf_token('firm_user_profile') }}">
        </div>
      </div>
    </div>
  </div>
</div>
