<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    {# ag: site flavicon #}
    <link rel="icon" href="{{ asset('images/secure-file-color.svg') }}">

    <link rel="stylesheet" href="{{ asset('styles/site-wide-styling.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/theme.css') }}">
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"> #}
    <title>{% block title %}{{ app_name }}{% endblock %}</title>

  {% block styles %}{% endblock %}
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

</head>

<header class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom p-4">
  <div class="container">
    <div class="col-4">
      <div class="d-flex align-items-center">
        <a class="me-2" href="{{ path('admin_dashboard') }}"><img src="{{ asset('images/secure-file-color.png') }}" style="height:3rem;" /></a> 
        <span class="vr mx-2"></span>
        <span class="fw-semibold fs-5 text-secondary">{{ app_name }}</span>
        {# <h5 class="offcanvas-title text-center" id="offcanvasNavbarLabel">{{ app_name }}</h5> #}
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> 
    </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-secondary" id="offcanvasNavbarLabel">{{ app_name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-lg-flex align-items-lg-center flex-wrap justify-content-lg-end"> 
          {# ag: include the dynamic menu for all user profiles here #}
          {% include 'layouts/sections/userProfilesHeaderNav.html.twig' %}
        </div>
      </div>
  </div>
</header>

<body class="bg-light">
  <main class="container py-5">
    {% block body %}{% endblock %}
  </main>

  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('admin') }}
  {% endblock %}
</body>
</html>
